---
interface Props {
  title: string;
  description: string;
  image: string;
  technologies: number[];
  deployed: boolean;
  link?: string;
}

const { title, description, image, technologies, deployed, link } = Astro.props;
import { technologies as techs } from "../constants";
---

<div class="card justify-self-center">
  <div class={`card-image bg-hero-pattern bg-no-repeat bg-cover`}>
    <img src={`/gifs/${image}`} alt={title} height="180" />
  </div>
  <div class="card-description">
    <p class="text-title">{title}</p>
    <p class="text-body">
      {description}
    </p>
    {
      deployed && (
        <a
          href={link}
          target="_blank"
          rel="noopener noreferrer"
          class="text-link"
        >
          <span class="text-link">View Project</span>
        </a>
      )
    }
    <section class="flex gap-2 justify-center">
      {
        technologies.map((tech) => {
          const thisTech = techs.find((t) => t.id === tech);

          return (
            <>
              <img
                src={`/assets/${thisTech?.icon}`}
                alt={thisTech?.title}
                width="42"
              />
            </>
          );
        })
      }
    </section>
  </div>
</div>
